{% extends 'base.html' %}
{% block content %}

      {% if category_post %}
                  <h1>{{ cats }}</h1>
<ul>

            {% for i in category_post %}


      <li><a href="{% url 'article-detail' i.pk %}">{{i.title}}</a> -{{i.author.first_name}}-{{i.category}}
       {% if user.is_authenticated %}
            -<a href="{% url 'update_post' i.pk %}">Edit</a>
            <a href="{% url 'delete_post' i.pk %}">Delete</a>
       {% endif %}
<br>
       {{i.body|slice:"200"|safe}}</li>
    {% endfor %}
                    </ul>
    {% else %}
        sorry..
    {% endif %}

{% endblock %}
